<h2>Appointments</h2>
<ul>
  <% @appointments.each do |a| %>
    <li><%= a.title %> (<%= a.when %>) [<%= link_to 'Edit', edit_appointment_path(a)%>, <%= link_to 'Delete', appointment_path(a), method: :delete %>]</li>
  <% end%>
</ul>
<p><%= link_to 'New Appointment', new_appointment_path %></p>
