<h2>Appointments</h2>

<p>
<%= link_to 'Upcoming', appointments_path() %> |
<%= link_to 'Past', appointments_path(filter: :past) %> |
<%= link_to 'Pending', appointments_path(filter: :pending) %> |
<%= link_to 'New Appointment', new_appointment_path %>
</p>

<ul>
  <% @appointments.each do |a| %>
    <li>
    <b><%= a.title %></b> on <%= a.starts_at.strftime('%b %d, %Y at %R') %>
    [
    <%= link_to 'Edit', edit_appointment_path(a) %>,
    <%= link_to 'Delete', appointment_path(a), method: :delete, confirm: "Are you sure?" %>,
    <%= link_to 'Add Reminder', new_appointment_reminder_path(a) %>
    ]
    <% if a.reminders.any? %>
      <ul>
        <% a.reminders.each do |r| %>
          <li>Remind <%= r.minutes_before_appointment %> minutes before [<%= link_to 'Delete', appointment_reminder_path(a, r), method: :delete, confirm: "Are you sure?" %>]</li>
        <% end %>
      </ul>
    <% end %>
    </li>
  <% end %>
</ul>
